version: '3.8'

services:
  products_db:
    image: postgres:latest
    container_name: products
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: products
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - eshop-network

volumes:
  db-data:

networks:
  eshop-network:
    driver: bridge
